@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: RobotoMedium;
    src: url(fonts/Roboto-Medium.ttf);
}

@font-face {
    font-family: RobotoBold;
    src: url(fonts/Roboto-Bold.ttf);
}

:root {
    --menu-count: 5;
}

body {
    background-color: #444;
}

.header-main {
    width: 100%;
    padding: 0 60px;
    height: 60px;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header-main nav {
    display: flex;
}

.header-main .logo {
    height: 40px;
    width: fit-content;
    align-self: center;
    cursor: pointer;
}

.header-main .logo img {
    height: 100%;
}

.header-main ul {
    height: 100%;
    padding-left: 40px;
    list-style: none;
    display: flex;
    align-self: center;
}

.header-main ul li {
    position: relative;
}

.header-main ul li a {
    display: block;
    padding: 0 10px;
    height: 100%;
    line-height: 60px;
    font-size: 1rem;
    font-family: RobotoMedium;
    color: #000000;
    background-color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: all ease-in-out 100ms;
}

.header-main ul li a:hover {
    background-color: #2a2a2a;
    color: #fff;
}
/* Dropdown Styling Start */

.header-main ul li ul {
    visibility: hidden;
    opacity: 0;
    display: none;
    position: absolute;
    left: -40px;
    transition: all ease-in-out 100ms;
}

.header-main ul li ul li a {
    white-space: nowrap;
}

ul li:hover>ul {
    visibility: visible;
    opacity: 1;
    display: block;
}

/* Dropdown Styling Ends Here */

.header-main .sm {
    align-self: center;
    display: flex;
}

.header-main form {
    height: 40px;
    padding-right: 5px;
    display: flex;
    border: 1px solid #aeaeae;
    border-radius: 20px 100px 100px 20px;
    width: fit-content;
    align-self: center;
}

.header-main form input {
    height: 100%;
    width: 300px;
    padding: 0 10px 0 20px;
    border-radius: 5px;
    font-size: 1rem;
    font-family: Roboto;
}

.header-main form input:focus {
    border: 1px solid #111;
}

.header-main form button {
    width: fit-content;
    padding: 0 5px 0 10px;
}

.header-main form button img {
    height: 24px;
    padding-top: 15%;
    cursor: pointer;
}

.header-main .sm-links {
    height: 60px;
    width: fit-content;
    display: flex;
    align-items: center;
}

.header-main .sm-links a {
    display: block;
    height: 30px;
    margin-left: 10px;
    cursor: pointer;
    align-self: center;
}

.header-main .sm-links img {
    height: 100%;

}

@media only screen and (max-width: 600px) {
    
}

